/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-image: var(--background-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--background-color);
  padding-inline: clamp(0.625rem, 2.545vw + 0.029rem, 1.25rem);
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  height: 100vh;
  min-height: 668px;
  position: relative;
}

.decorated-zone::before {
  content: '';
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--card-title-color);
  border-right: 1px solid var(--card-title-color);
  position: absolute;
  top: 20px;
  right: 0;
}

.decorated-zone::after {
  content: '';
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--card-title-color);
  border-left: 1px solid var(--card-title-color);
  position: absolute;
  bottom: 20px;
  left: 0;
}

.header__theme-menu {
  justify-self: center;
  padding-block-start: 20px;
}

.header__theme-menu-list {
  display: flex;
  gap: 10px;
}

.header__theme-menu-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  color: var(--card-title-color);
  padding-inline: 13px;
  cursor: pointer;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--card-title-color);
}

.header__theme-menu-button:disabled {
  pointer-events: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--hover-button);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--card-title-color);
}

.header__rec {
  color: var(--card-title-color);
  font-size: inherit;
  font-weight: 400;
  position: absolute;
  display: flex;
  justify-self: end;
  gap: 10px;
  top: 20px;
  right: 9px;
}

.header__rec::after {
  content: '';
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--card-title-color);
  box-shadow: 0 0 4px 2px var(--card-title-color);
  align-self: center;
}

.header__title {
  color: var(--page__title-color);
  text-shadow: 4px 4px 0 var(--page__title-shadow);
  font-size: var(--page__title-size);
  line-height: 82.5%;
  justify-self: start;
  margin-inline-start: -20px;
}

.header__description {
  color: var(--paragraph-title-color);
  justify-self: end;
  align-self: center;
  max-width: 50%;
  margin-block-end: 20px;
}

.content-section {
  padding-block-start: clamp(2.5rem, 1.3073rem + 5.0891vw, 3.75rem);
}

.card-section {
  display: grid;
  grid-template-columns: 1fr 2.1fr;
  column-gap: 20px;
}

.card-section:not(:last-of-type) {
  padding-block-end: clamp(3.125rem, 1.3359rem + 7.6336vw, 5rem);
}

.card-section:nth-of-type(2) {
  grid-template-columns: repeat(3, 1fr);
}

.card-section:nth-of-type(2) .content__card {
  grid-column: auto;
  grid-row: 2 / 4;
}

.content__card-list {
  grid-row: 2 / 3;
  grid-column: 1 / 3;
  display: flex;
  gap: 20px;
}

.content__card {
  grid-column: 2 / 3;
  margin-block-end: 20px;
}

.content__card:last-of-type {
  margin: 0;
}

.content__title {
  color: var(--card-title-color);
  font-size: inherit;
  padding-block-end: 20px;
}

.content__paragraph-title {
  color: var(--paragraph-title-color);
  font-size: inherit;
  margin-block-end: 10px;
}

.content__subtitle {
  color: var(--paragraph-title-color);
  font-size: inherit;
  font-weight: 400;
  margin-block-end: 10px;
}

.content__paragraph {
  color: var(--paragraph-color);
  font-weight: 400;
  font-size: inherit;
}

.content__paragraph-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.content__paragraph-link:hover {
  border-bottom: 1px solid var(--paragraph-color);
}

.content__paragraph-link:focus {
  outline: none;
}

.content__paragraph-link:focus-visible {
  outline: 1px solid var(--paragraph-color);
}

.content__article-title {
  color: var(--paragraph-title-color);
  font-size: inherit;
  margin-block-end: 20px;
}

.title-decor {
  background-color: var(--accent-color);
}

.content__gallery-title {
  color: var(--paragraph-title-color);
  grid-column: 1 / 4;
  font-size: inherit;
  margin-block-end: clamp(0.625rem, 2.545vw + 0.029rem, 1.25rem);
}

.content__gallery {
  grid-column: 1 /4;
}

.gallery__image-list {
  display: grid;
  grid-template-rows: repeat(3, minmax(min-content, max-content));
  grid-template-columns: repeat(3, minmax(min-content, max-content));
  gap: clamp(0.625rem, 1.541vw + 0.264rem, 1.25rem);
}

.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.gallery__image-list-item:first-of-type {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
}

.gallery__image-list-item:nth-of-type(2) {
  grid-row: 1 / 3;
  grid-column: 3 / 4;
}

.gallery__image-list-item:nth-of-type(3) {
  grid-row: 2 / 4;
  grid-column: 1 / 2;
}

.gallery__image-list-item:nth-of-type(4) {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.gallery__image-list-item:last-of-type {
  grid-row: 3 / 4;
  grid-column: 2 / 4;
}

.footer {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 668px;
  position: relative;
  margin-block-start: clamp(2.5rem, 1.3073rem + 5.0891vw, 3.75rem);
}

.footer__title {
  color: var(--page__title-color);
  text-shadow: 2px 2px 0px var(--page__title-shadow);
  font-size: var(--page__title-size);
  line-height: 82.5%;
  padding-block-end: 25px
}

@media (max-width: 768px) {
  .header__theme-menu {
    justify-self: end;
    align-self: center;
  }

  .header__theme-menu-list {
    flex-direction: column;
  }

  .card-section {
    grid-template-columns: 1fr 2fr;
  }

  .card-section:nth-of-type(2) .content__card {
    grid-column: 1 / 4;
    grid-row: auto;
}

  .footer__title {
    text-shadow: 2px 2px 0px var(--accent-color);
  }
}

@media (768px > width >= 375px) {
  .header__rec, .decorated-zone::before {
    top: 10px;
  }

  .decorated-zone::after {
    bottom: 10px;
  }

  .header__theme-menu {
    padding-block-start: 10px;
  }

  .header__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    margin: 0;
  }

  .header__description {
    min-width: 100%;
  }

  .content-section {
    display: flex;
    flex-direction: column;
    }

  .card-section {
    display: block;
  }

  .gallery__image-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .footer__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    padding-block-end: 10px;
  }
}